<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget</title>
    <link rel="stylesheet" href="/normalize.css"/>
    <link rel="stylesheet" href="/skeleton.css"/>
</head>
    <div class="container">
        <body>
            <h1>Budgtr Transactions</h1>
            <table class="u-full-width">
                <tbody>
                    <% for(let i = 0; i < allTransactions.length; i++) { %>
                        <tr>
                            <td><%=allTransactions[i].date%></td>
                            <td>
                                <a href="/budget/<%=i%>">
                                    <%=allTransactions[i].name%>
                                </a>
                            </td>
                            <td><%=allTransactions[i].amount%></td>
                            <td><%=allTransactions[i].tags%></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </body>
    </div>
</html>